{{#each this}}
  <div class='card'>
    <h1 class='card-title'>{{name}}</h1>
    <div class="flex-container">
      <ul>
        <li>
          <h2>Capital:</h2>
          <p class='card-text'>{{capital}}</p>
        </li>
        <li>
          <h2>Population:</h2>
          <p class='card-text'>{{population}}</p>
        </li>
        <li>
          <h2>Languages:</h2>
          <ul class='language-list'>
            {{#each languages}}
              <li class='card-text'>{{name}}</li>
            {{/each}}
          </ul>
        </li>
      </ul>

      <div class='card-img'>
        <img src='{{flag}}' alt='{{name}}' width=' 300' />
      </div>
    </div>
  </div>
{{/each}}